.miniPalletDelete-enter {
  opacity: 1;
  transform: scale(0.9);
}
.miniPalletDelete-enter-active {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.miniPalletDelete-exit {
  opacity: 1;
}
.miniPalletDelete-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 300ms, transform 300ms;
}
